*{
    margin-bottom: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    margin: 0;
    font-family: “Trebuchet MS”, Trebuchet, Arial, sans-serif;
    text-align: center;
    background-color: #3C4146;
    border: 10px solid #FFFFFF;
    min-height: 100%;

}
*{transition: all .1s ease-in;}
h1 {

    color: #F46B68;
}
header {
    margin: 0;
    background-color: #4A5056;
    color: #F46B68;
    padding-top: 8px;
    padding-bottom: 8px;
}
header p{
    font-size: 22px;
}
footer {
    background-color: #4A5056;
    color: #F46B68;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 22px;
    margin-bottom: 1%;
}
main {
    text-align: left;

}
table {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border-collapse: collapse;
}
td {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #86829A;
    color: #FFFFFF;
    font-size: 22px;

}
td label {
    display: inline-block;
    width: 100%;
}
span {
    color: #FFFFFF;
    font-size: 14px;

}
tr:nth-child(2n) td{
    width: 600px;
    margin-left: 100px;
    margin-right: 100px;
    border: solid 0px;
    padding: 10px;
    background-color: #78758F;
    color: #FFFFFF;
    font-size: 18px;
}
/* tr:nth-child(2n) */
td span:after {
    content: ")";
    font-size: 12px;
}
td span:before {
    content: "(";
    font-size: 12px;
}
/*td.third label:after {
    content: "(because they are awesome)";
    font-size: 12px;
}
td.fourth label:after {
    content: "(hmm... they always disappear)";
    font-size: 12px;
}
td.sixs label:after {
    content: "(for my friends)";
    font-size: 12px;
}*/
table tr td:hover {
    width: 600px;
    margin-left: 100px;
    margin-right: 100px;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #FFFFFF;
    padding: 10px;
    background-color: #615F74;
    }
table tr td:active {
    width: 600px;
    margin-left: 100px;
    margin-right: 100px;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #FFFFFF;
    padding: 10px;
    background-color: #F46B68;
}
input:checked+label {
    text-decoration-line: line-through;
}

