@font-face {
    font-family: "Segoe UI";
    src: url('../fonts/SegoeUIRegular.eot') format('eot'),
    url("../fonts/SegoeUIRegular.woff") format("woff"),
    url('../fonts/SegoeUIRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Segoe UI Bold";
    src: url('../fonts/SegoeUIBold.eot') format('eot'),
    url("../fonts/SegoeUIBold.woff") format("woff"),
    url('../fonts/SegoeUIBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
}
.vertpadding {
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
    background: url("../img/bg.jpg");
    height: 100vh;
    color: white;
}
.logo img{
    width: 50px;
}
h2 {
    font-family: "Segoe UI Bold", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 80px;
}
header h2 {
    padding-top: 21vh;
}
header p {
    padding-top: 60px;
    padding-bottom: 21vh;
    font-size: 18px;
}
header a.link {
    padding: 6px 8px;
    border: 2px solid #ceced0;
    border-radius: 50%;
}
header a.link img {
    display: inline-block;
    width: 12px;
    height: 12px;
}
.mainpart {
    background: url("../img/bgwhite.jpg");
    color: #464b4f;

}
/*боковые отступы через width+margin auto*/
div.texbox {
    width: 46%;
    margin-left: auto;
    margin-right: auto;
    padding: 125px 0 125px;
    text-align: center;
}
.texbox p {
    font-size: 30px;
    margin-bottom: 65px;
}

.mainpart h1 {
    font-family: "Segoe UI Bold", Arial, sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    padding-bottom: 100px;
    text-align: center;
}
/*боковые отступы через padding*/
footer {
    padding: 0 25% 125px 25%;
}
footer p {
    display: inline-block;
}
div.position {
    font-size: 0;
}

p.miniheader {
    width: 33%;
    text-transform: uppercase;
    padding-bottom: 35px;
    font-family: "Segoe UI Bold", Arial, sans-serif;
    font-size: 18px;
    color: #464b4f;
}
p.footertextblock {
    width: 31%;
    font-size: 18px;
    margin-right: 2.3%;
    vertical-align: top;


}

