@import "normalize";
@import "mixin";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
//body, html {
//  height: 100%;
//}
body {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px/1.5;
  color: #3c3c3c;
}
a {
  display: inline-block;
}
img {
  display: block;
}

h1, h2, h3 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}
h2 {
  font-size: 34px;
}

.container {
  max-width: 960px;
  padding: 0 30px;
  margin: 0 auto;
  text-align: center;
}

header {
  min-height: 100vh;
  padding: 284px 0 384px;
  position: relative;
  background: #abb5c9 url("../img/bg-header.jpg") 50% no-repeat;
  background-size: cover;
  text-transform: uppercase;
  color: white;

  .container {
    max-width: 600px;
  }

  .logo {
    margin-bottom: 80px;

    img {
      width: 75px;
      height: 75px;
    }
  }

  h1 {
    padding-bottom: 35px;
    margin: 0;
    font-size: 54px;
  }

  p {
    font-size: 15px;
    line-height: 2;
  }
  .link {
    position: absolute;
    left: 50%;
    bottom: 115px;
    margin-left: -12px;
    &:hover {
      opacity: 0.6;
    }
  }

  .link img {
    width: 23px;
    height: 37px;
  }
}
/*section about*/

.subcontainer {
  position: relative;
  margin-top: 120px;
  border: 2px solid #3c3c3c;
  padding: 70px 180px 30px;
}

.about {
  background-color: white;
  padding: 160px 0;

  .subcontainer {
    h2 {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 0;
      left: 50%;
      width: 48%;
      margin: 0;
      background-color: white;
    }

    p {
      padding-bottom: 30px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

/*services */
.services {
  background: #adb8cd url("../img/bg-services.jpg") 50% no-repeat;
  background-size: cover;
  color: white;

  .container {
    padding-top: 128px;
    padding-bottom: 108px;

    .subcontainer {
      border-color: white;
      border-width: 0 2px 2px;
      margin-top: 0;

      &:before {
         position: absolute;
         top: 0;
         left: 0;
         display: block;
         content: "";
         height: 2px;
         background-color: white;
         width: 26%;
       }
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        content: "";
        height: 2px;
        background-color: white;
        width: 26%;
      }

      h2 {
        display: block;
        position: absolute;
        transform: translateY(-50%);
        top: 0;
        left: 12%;
        width: 76%;
        text-align: center;
        margin: 0;
      }
    }
  }
}
/*section what we do, top borders whit easier way*/
.whatwedo {
  background-color: white;
  .container {
    padding-bottom: 115px;

    .subcontainer {
      padding-top: 120px;
      padding-bottom: 90px;

      h2 {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 0;
        left: 50%;
        width: 48%;
        margin: 0;
        background-color: white;
      }

      img {
        display: inline-block;
        margin-bottom: 35px;
      }

      h3 {
        font-size: 20px;
        margin-bottom: 40px;
      }

      p {
        margin-bottom: 100px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

/* section imagegrid, gallery on flex*/

.imagegrid {
  .flexholder {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto 10px;
    display: flex;
    justify-content: space-between;
    &:last-child {
      margin-bottom: 0;
    }

    div {
      padding-right: 10px;
      &:last-child {
        padding-right: 0;
      }

      img {
        max-width: 100%;
      }
    }
  }
}

/*section contact us. top borders whit easier way*/

.contactus {
  .container {
    background-color: white;
    .subcontainer {
      margin-top: 75px;
      padding-bottom: 50px;

      h2 {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 0;
        left: 50%;
        width: 48%;
        margin: 0;
        background-color: white;
      }

      p {
        padding-bottom: 45px;
      }

      button {
        height: 40px;
        width: 44%;
        max-width: 400px;
        border: 0;
        background-color: #3c3c3c;
        color: white;
        text-transform: uppercase;
        font-size: 16px;

      }
    }
  }
}
/*footer */
footer {
  .container {
    padding: 60px 0 65px;

    .flex {
      display: flex;
      justify-content: center;

      img {
        display: block;
        width: 40px;
        height: 40px;
      }
      span {
        display: block;
        padding: 12px 0 12px 30px;
        font-size: 14px;
      }
    }
  }


}