* {
    box-sizing: border-box;
    color: darkslateblue;
    border: 0;
    padding: 0;
    margin: 0;
    }
html ,body {
    height: 100%;
}
body {
    background-color: #464f54;
}
div.maincontainer {
    /*position: relative;*/
}
div.header {
    display: block;
    margin-top: 47px;
    padding-left: 27%;
    width: 100%; /*почему без этого значение ширина обрезается по контенку не смотря на дисплей-блок*/
    position: absolute;

}
.title {
    font-size: 15px;
    line-height: 109.3px;
    color: #777777;
    text-transform: uppercase;

}
.titlebox {
    background-color: black;
    padding: 0px 0 36px 62px;
}
.titletext {
    font-size: 48px;
    border-bottom: 5px solid #303030;
    padding: 10px 0 18px;
    color: white;
}
div.imageline {
    background-color: #f8bd2c;
    margin-left: 64px;
    padding: 20px 0 20px 40px;
}
.maincontainer {

}
.marginer {
    width: 88.3%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 17%; /*Узнать как бороться с уменьшением верт паддинга при уменьшении ширины страницы*/

}
.textbox {
    padding-left: 10%;
    padding-top: 16.5%;
    background-color: #ffffff;

    /*padding-bottom: 40px;*/

}
div.vertline {
    border-left: 2px solid #e8eced;
    height: 100%;
    margin-left: 11%;
    margin-top: 17%;
    position: absolute;

}
.textauthor {
    text-transform: uppercase;
    font-size: 28px;
}
.textbox h1 {
    font-size: 78px;
    text-transform: uppercase;
    color: #2a2a2a;
}
.textbox h3 {
    color: #8f8f8f;
    font-size: 30px;
}
.textbox p {
    padding: 20px 0 20px;
}
.textbox p.second {
    padding-bottom: 40px;
}
.maintext {
    font-family: Georgia;
    font-size: 27px;
    color: black;
}