/*Шрифты
font-family: 'Playfair Display', serif;
 */
@font-face {
    font-family: 'FuturaPTHeavy';
    src: url('../fonts/FuturaPTHeavy.otf');
/*format('otf')*/
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.eot');
/*format('eot')*/
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Georgia', serif;
}
html, body {
    height: 100%;
}
body {
    background-color: #464f54;
}
div.maincontainer {
    position: relative;
    min-height: 100%;
}
div.vertline {
    border-left: 2px solid #e8eced;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 6.5%;
}
div.header {
    display: block;
    margin-top: 47px;
    padding-left: 27%;
    width: 100%; /*почему без этого значение ширина обрезается по контенку не смотря на дисплей-блок*/
    position: absolute;


}
.title {
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 15px;
    color: #777777;
    text-transform: uppercase;
}
.titlebox {
    background-color: black;
    padding: 50px 0 50px 62px;
}
.titletext {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 48px;
    border-bottom: 3px solid #303030;
    padding: 10px 0 18px;
    color: white;
}
div.imageline {
    background-color: #f8bd2c;
    margin-left: 64px;
    padding: 20px 0 20px 40px;
}
.imageline a img{
    height: 30px;
    margin-right: 20px;
    opacity: 0.5;
}
.imageline a img:hover{
    opacity: 1;
}

.marginer {
    width: 88.3%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px; /*Узнать как бороться с уменьшением верт паддинга при уменьшении ширины страницы*/
}
.textbox {
    padding-left: 10%;
    padding-top: 200px;
    background-color: #ffffff;
    /*padding-bottom: 40px;*/
    position: relative;
    z-index: -1;
}

.textbox .textauthor {
    font-family: 'Proximanova-regular', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: #8f8f8f;
    text-transform: uppercase;

}
.textbox h1 {
    font-family: 'FuturaPTHeavy', serif;
    font-size: 78px;
    line-height: 78px;
    text-transform: uppercase;
    color: #2a2a2a;
    padding-bottom: 20px;
}
.textbox h3 {
    font-family: 'Georgia', serif;
    color: #8f8f8f;
    font-size: 30px;
    line-height: 30px;
    font-style: italic;
    font-weight: normal;
    padding-bottom: 40px;
}
.textbox p {
    padding: 20px 0 20px;
    font-size: 27px;
}
.textbox p.second {
    padding-bottom: 40px;
}
.textbox span {
    font-style: italic;
}
.maintext {
    font-family: 'Georgia', serif;
    font-size: 27px;
    color: black;
}